@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

$primary: rgb(245, 245, 245);
$primary-invert: findColorInvert($primary);
$logoColor: rgb(200, 25, 225);
$border-color: rgba(200, 200, 200, .7);
$lightColor: lighten($primary-invert, 50%);
$hoverAnimate: all 0.4s ease-in-out;

$family-primary: "Ubuntu", "Arial", sans-serif;

// navbar options
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: $primary-invert;
$navbar-item-color: $lightColor;

// Progress bar
$progress-value-background-color: rgba($logoColor, .5);
$progress-bar-background-color: rgba(255, 255, 255, 255);

@import "node_modules/bulma/bulma";

// Mixins
@mixin box-shadow($x, $y, $blur, $color)
{
  box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
  -moz-box-shadow: $x $y $blur $color;
  -o-box-shadow: $x $y $blur $color;
}

@mixin transition($element, $duration, $effect)
{
  transition: $element $duration $effect;
  -webkit-transition: $element $duration $effect;
  -moz-transition: $element $duration $effect;
  -o-transition: $element $duration $effect;
}

html
{
  height: 100%;
}

body
{
  font-weight: 400;
  color: lighten($primary-invert, 50%);
  min-height: 100%;
}

footer
{
  bottom: 0;
}

input[type=text], 
input[type=email]
{
  @include box-shadow(2px, 2px, 4px, rgba(200, 200, 200, .5));
}


input[type=text]:focus,
input[type=email]:focus
{
  border: 1px solid rgb(150, 150, 150);
  @include box-shadow(2px, 2px, 4px, rgba(200, 200, 200, .5));
}

.checkbox
{
  padding: 5px 0 5px 0;
}


#logo-area
{
  height: 175px;
  margin-bottom: 10px;

  object 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
  }
}

$button-width: 150px;

#fic-submit
{
  display:block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  color: $lightColor;

  &:hover
  {
    border: 1px solid $border-color;
    background-color: $primary;
    color: $primary-invert;
  }
}

#email-address
{
  max-width: 300px;
}

.navbar-item
{
  font-size: 1.25em;
  font-weight: 500;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;

  a 
  {
    color: $lightColor;
    position: relative;
    display: inline-block;
    
    &:after
    {
      content: "";
      height: 7px;
      width: 0;
      background-color: rgba($logoColor, .5);
      position: absolute;
      bottom: -3px;
      left: 0;
      transition: $hoverAnimate;
      visibility: hidden;
    }
  
    &:hover
    {
      color: $primary-invert;
      
      &:after
      {
        visibility: visible;
        width: 100%;
      }
    }
  }
}

.navbar
{
  position: absolute;
  width: 100%;
  z-index: 100;
}

progress
{
  //visibility: hidden;
  height: 4px !important;
}

#input-send-div
{
  margin-top: -25px;
}


$optionsHeight: 20px;
#fic-opt-button
{
  padding: 10px 0 10px 0;
  display: block;
  font-weight: 500;
  font-size: $optionsHeight;
  cursor: pointer;
  margin: 0 0 0 0;
  text-align: center;
  color: lighten($primary-invert, 50%);
  @include transition(all, 1s, ease-in-out);

  &:hover
  {
    color: $primary-invert;
  }
}

.opt-arrow
{
  display: inline-block;
  position: relative;
  width: 32px;
  height: 15px;
  margin-left: 20px;
  margin-right: 20px;

  .arrow-left
  {
    position: absolute;
    top: 5.5px;
    left: 0;
    height: $optionsHeight;
    float: right;
  
    &:after
    {
      content:"";
      background-color: lighten($logoColor, 20%);
      width: 20px;
      height: 5px;
      display: block;
      float: right;
      border-radius: 4px 5px 5px 4px;
      @include transition(all, .4s, ease-in-out);
    }
  }
  .arrow-right
  {
    position: absolute;
    top: 5.5px;
    left: 12px;
    width: $optionsHeight;
    height: 5px;
    float: right;
    
    &:after
    {
      content:"";
      background-color: lighten($logoColor, 20%);
      width: 20px;
      height: 5px;
      display: block;
      float: right;
      border-radius: 5px 4px 4px 5px;
      @include transition(all, .4s, ease-in-out);
    }
  }
}

.arrow-open 
{
  .arrow-left:after 
  {
    transform-origin: center center;
    transform: rotate(40deg);
  }
  .arrow-right:after 
  {
    transform-origin: center center;
    transform: rotate(-40deg);
  }
}

#fic-opt
{
  display: none;
}

#status-text
{
  padding-top: 15px;
  font-weight: 400;
  font-size: 25px;
  color: lighten($primary-invert, 50%);
  text-align: center;

  a
  {
    color: lighten($primary-invert, 30%);
    text-decoration: underline;
    text-decoration-color: rgba($logoColor, .5);
    font-weight: 500;

    &:hover
    {
      color: $primary-invert;
    }
  }
}
