<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>ff2ebook.com</title>
    <!--StylesSheets-->
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!--JavaScripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <% include menu %>
    <section class="section">
        <div class="container">
            <div id="logo-area">
                <object type="image/svg+xml" data="/images/ff2ebook-logo.svg">
                    <img src="/images/ff2ebook-logo.png">
                </object>
            </div>
            <form id="input-form">
                <div class="columns is-centered is-gapless">
                    <div class="column is-half">
                        <div class="field">
                            <div class="control">
                                <input class="input is-medium" id="input-text" type="text" placeholder="URL">
                                <progress class="progress" value="0" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns is-mobile is-centered" id="input-send-div">
                    <div class="column is-one-quarter-desktop is-half-mobile">
                        <div class="select is-pulled-right is-medium">
                            <select class="is-medium" id="file-type">
                                <option selected value="epub">ePub</option>
                                <option value="mobi">MOBI</option>
                            </select>
                        </div>
                    </div>
                    <div class="column is-one-quarter-desktop is-half-mobile">
                        <div class="field is-pulled-left">
                            <div class="control">
                                <button type="submit" class="button is-medium is-primary" id="fic-submit">Convert</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Options -->
            <div class="columns is-centered is-gapless">
                <div class="column is-half-desktop">
                    
                    <div id="fic-opt-button">
                        <div class="opt-arrow">
                            <span class="arrow-left"></span>
                            <span class="arrow-right"></span>
                        </div>
                        OPTIONS
                        <div class="opt-arrow">
                            <span class="arrow-left"></span>
                            <span class="arrow-right"></span>
                        </div>
                    </div>
                    
                    <div id="fic-opt">
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" id="force-update"> Force update.
                            </label>
                        </div>
        
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" id="auto-dl"> Automatic download.
                            </label>
                        </div>
        
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" id="send-email"> Send to mailbox.
                            </label>
                        </div>
                        <input class="input" type="email" placeholder="Email Address" id="email-address">
                    </div>
                </div>
            </div>
            <div class="column is-half-desktop">
                <div>

            </div>
        </div>

    </section>
    
</body>
</html>
