<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>ff2ebook.com</title>
    <!--StylesSheets-->
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!--JavaScripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <% include menu %>
    <section class="section">
        <div class="container">
            <div id="logo-area">
                <img src="/images/ff2ebook-logo.svg">
            </div>
            <form id="input-form">
                <div class="columns is-centered is-gapless">
                    <div class="column is-half">
                        
                        <div class="field">
                            <div class="control">
                                <input class="input is-medium" id="input-text" type="text" placeholder="URL">
                            </div>
                        </div>
                        <div>
                            <progress class="progress fic-progress" value="15" max="100">15%</progress>
                        </div>
                    </div>
                </div>

                <div class="columns is-mobile is-centered">
                    <div class="column is-one-quarter-desktop is-half-mobile">
                        <div class="select is-pulled-right is-medium">
                            <select class="is-medium" id="input-options">
                                <option>ePub</option>
                                <option>Mobi</option>
                            </select>
                        </div>
                    </div>
                    <div class="column is-one-quarter-desktop is-half-mobile">
                        <div class="field is-pulled-left">
                            <div class="control">
                                <button type="submit" class="button is-medium is-primary" id="fic-submit">Convert</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Options -->
            <div class="columns is-centered is-gapless" id="fic-opt">
                <div class="column is-half-desktop">
                    <div>
                        <label class="checkbox">
                            <input type="checkbox" id="force-update"> Force update.
                        </label>
                    </div>

                    <div>
                        <label class="checkbox">
                            <input type="checkbox" id="auto-dl"> Automatic download.
                        </label>
                    </div>

                    <div>
                        <label class="checkbox">
                            <input type="checkbox" id="send-email"> Send to mailbox.
                        </label>
                    </div>
                    <input class="input" type="email" placeholder="Email Address" id="email-address">
                </div>
            </div>
        </div>

    </section>
    
</body>
</html>
