<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-burger" data-target="menubar">
            <span></span>
            <span></span>
            <span></span>
          </div>
    </div>

    <div class="navbar-menu" id="menubar">
        <div class="navbar-start">
                <!-- navbar items -->
        </div>
        <div class="navbar-item">
            <a>Convert</a>
        </div>
        <div class="navbar-item">
            <a>Batch</a>
        </div>
        <div class="navbar-item">
            <a>Archive</a>
        </div>
        <div class="navbar-item">
            <a>Donation</a>
        </div>
        <div class="navbar-item">
            <a>Issues</a>
        </div>

        <div class="navbar-end">
                <!-- navbar items -->
        </div>

    </div>
  </nav>