<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-burger" data-target="menubar">
            <span></span>
            <span></span>
            <span></span>
          </div>
    </div>

    <div class="navbar-menu" id="menubar">
        <div class="navbar-start">
                <!-- navbar items -->
        </div>
        <div class="navbar-item">
            <a href="/">Convert</a>
        </div>
        <div class="navbar-item">
            <a href="/batch">Batch</a>
        </div>
        <div class="navbar-item">
            <a href="/archive">Archive</a>
        </div>
        <div class="navbar-item">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=43A3EHTCNHWUW" target="_blank">Donation</a>
        </div>
        <div class="navbar-item">
            <a href="https://github.com/p0ody/ff2ebook-node" target="_blank">Issues</a>
        </div>

        <div class="navbar-end">
                <!-- navbar items -->
        </div>

    </div>
  </nav>